<div class="card">
  <div class="row">
    <div class="col-sm-6">
      <div class="card-body">
        <h1>GitHubScore</h1>
        <form #form="ngForm">

          <p class="form-group"><label for="userName">Github Username:</label><input type="text" class="form-control" name="userName" id="userName" [(ngModel)]="searchTerm" required></p>
          <p><button [disabled]='form.invalid' class="btn btn-primary btn-block" (click)="searchForUser()">Calculate GitHub Score</button></p>
        </form>

      </div>
    </div>
    <div class="col-sm-6">
      <div *ngIf="userExists" class="card-body">
        <h1>User Score: {{ score }}</h1>      
        <h5 class='text-danger' *ngIf="score < 20">Needs Work!</h5>
        <h5 class='text-warning' *ngIf="score >= 20 && score < 50">A decent start!</h5>
        <h5 *ngIf="score >= 50 && score < 100">Doing good!</h5>
        <h5 class='text-success' *ngIf="score >= 100 && score < 200">Great Job!</h5>
        <h5 class='text-primary' *ngIf="score >= 200">Github Elite!</h5>
      </div>
      <div *ngIf="userExists===false" class="card-body">
        <h1>Couldn't find User.</h1>
      </div>
    </div>
  </div>
</div>

